:root {
  --dark-teal: #00474B;
  --teal: #008C93;
  --lime: #BED139;
  --dark-grey: #47525E;
  --md-grey: #8190A5;
  --lt-grey: #D3DCE6;
  --darkest: #000000;
}

h1, h2 {
  color: var(--dark-teal);
  text-align: center;
}

.search-header {
  margin-top: 7%;
}

.list {
  text-align: center;
  height: 68vh;
  overflow: scroll;
}

.index-btn {
  padding: 6px;
  background-color: var(--dark-teal);
  color: var(--lt-grey);
}

.index-btn:hover {
  background-color: var(--lime);
  color: var(--dark-teal);
}

.detailItem {
  margin-top: 20px;
  margin-bottom: 5px;
}

.commentBox {
  display: block;

}

/*-------------------------------*/
/*            Index              */
/*-------------------------------*/

#results {
  overflow: scroll;
  height: 60vh;
}

#searchQuery {
  background-color: #FFFFFF;
  border: 1px solid #8492A6;
  border-radius: 5px;
  width: 40%;
  height: 45px;
}

#searchBtn {
  height: 45px;
  border-radius: 5px;
  background-color: var(--dark-teal);
  color: var(--lt-grey);
  border: none;
}

#searchBtn:hover {
  background-color: var(--lime);
  color: var(--dark-teal);
}

.searchForm {
  display: inline;
}

.restCard {
  width: 350px;
  height: 200px;
  padding: 8px;
  display: inline-block;
  margin: 25px 2.5%;
  vertical-align: top;
  text-align: center;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 7px;
}

.restName {
   color: var(--dark-grey);
}

.ate {
  background-color: var(--lime);
  color: var(--dark-teal);
  border-radius: 5px;
}

.ate:hover,
.want:hover {
  opacity: .8;
}

.want {
  background-color: var(--dark-teal);
  color: var(--lt-grey);
  border-radius: 5px;
}

.Index {
  background: url(https://marvel-live.freetls.fastly.net/canvas/2018/10/3e2a207da9314fff89d4a3d5e845d122?quality=95&fake=.png) no-repeat;
  background-size: 100%;
  opacity: 0.4;
  height: 110vh;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/*-------------------------------*/
/*       Memoir/Wishlist         */
/*-------------------------------*/

#memoirs,
#wishlists,
.memoirView {
  background-color: rgba(255, 255, 255, .8);
  height: 80%;
  width: 70%;
  margin: 10% auto 0 auto;
  padding-bottom: 20px;
}

.memoirCard {
  height: 200px;
  margin-bottom: 20px;
  padding: 8px;
  vertical-align: top;
}

.munchieHeader {
  margin: 20px auto;
  line-height: 60px;
}

.detailDisplay h5,
.detailDisplay p {
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 5px;
}

.Memoir {
  background: url(https://marvel-live.freetls.fastly.net/canvas/2018/10/426e873b2b0145ee88e37d6c32e99a3a?quality=95&fake=.png) no-repeat;
  background-size: 100%;
  opacity: 0.8;
  height: 110vh;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.Wishlist {
  background: url(https://marvel-live.freetls.fastly.net/canvas/2018/10/675d846e2f624b8cb700c632373bb197?quality=95&fake=.png) no-repeat;
  background-size: 100%;
  opacity: 0.8;
  height: 110vh;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.MemoirEdit {
  background: url(https://marvel-live.freetls.fastly.net/canvas/2018/10/b69e804c3d724067ae15b47eab1cd197?quality=95&fake=.png) no-repeat;
  background-size: 100%;
  opacity: 0.7;
  height: 110vh;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  z-index: -1;
}

/*-------------------------------*/
/*         Login/Logout          */
/*-------------------------------*/

#LoginPage {
  background-color: rgba(255, 255, 255, .8);
  width: 40%;
  margin: 5px auto;
}

.LogoutView {
  background-size: 100%;
  height: 110vh;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  background-color: var(--dark-teal);
  color: white;
  top: 0;
  left: 0;
  z-index: -1;
}