@model MunchBunch.Models.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
  <img class="Index" />
  <h1 class="search-header">Search</h1>
  <form>
      <input id="userLoc" type="hidden" asp-for="AppUser.PrimaryLocation"/>
      <input id="searchQuery" name="searchQuery" type="text" placeholder="Search for Restaurant, Neighborhood or Cuisine" />
      <button id="searchBtn" type="submit">Search</button>
  </form>

  <div id="results"></div>
</div>

