@{
    ViewData["Title"] = "Home Page";
}

<h1>Search</h1>
<form>
    <input id="searchQuery" name="searchQuery" type="text" placeholder="Search for Restaurant, Neighborhood or Cuisine" />
    <button id="searchBtn" type="submit">Search</button>
</form>

<div id="results">

</div>
