@model MunchBunch.Models.Wishlist


    <form asp-action="Delete">
        <input type="hidden" asp-for="WishlistId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |

    </form>
</div>
