@model MunchBunch.Models.AppUserViewModel

@{
    ViewData["Title"] = "Edit Your Profile";
}

<img class="UserDetails" />
<div class="UserDetailPage">
<h2>@ViewData["Title"]</h2>

<h4 class="text-center">You <strong>must</strong> enter a city name to search restaurants.</h4>
<hr />
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AppUser.Id" />
              <div class="form-group">
                <input type="file" asp-for="ImageFile" />
              </div>

            <div class="form-group">
                <label asp-for="AppUser.FirstName" class="control-label"></label>
                <input asp-for="AppUser.FirstName" class="form-control" />
                <span asp-validation-for="AppUser.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppUser.LastName" class="control-label"></label>
                <input asp-for="AppUser.LastName" class="form-control" />
                <span asp-validation-for="AppUser.LastName" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="AppUser.PrimaryLocation" class="control-label"></label>
                <input asp-for="AppUser.PrimaryLocation" class="form-control" />
                <span asp-validation-for="AppUser.PrimaryLocation" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn ate" />
                <a class="btn btn-default" asp-controller="Home" asp-action="Index">Home</a>

            </div>
        </form>
    </div>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
