@model MunchBunch.Models.Memoir

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Memoir</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RId" class="control-label"></label>
                <input disabled asp-for="RId" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="RestaurantName" class="control-label"></label>
                <input disabled asp-for="RestaurantName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="RestaurantLocation" class="control-label"></label>
                <input disabled asp-for="RestaurantLocation" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="RestaurantAddress" class="control-label"></label>
                <input disabled asp-for="RestaurantAddress" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Dish" class="control-label"></label>
                <input asp-for="Dish" class="form-control" />
                <span asp-validation-for="Dish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cocktail" class="control-label"></label>
                <input asp-for="Cocktail" class="form-control" />
                <span asp-validation-for="Cocktail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
