@model MunchBunch.Models.MemoirViewModels.MemoirEditDetailDeleteViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Memoir Entry</h4>
<div class="rCard">
    <h3>@Model.Memoir.RestaurantName</h3>
    <h4>@Model.Memoir.RestaurantLocation</h4>
    <p>@Model.Memoir.RestaurantAddress</p>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Memoir.MemoirId" />
            <div class="form-group">
                <input type="hidden" asp-for="Memoir.RId" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Memoir.RestaurantName" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Memoir.RestaurantLocation" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Memoir.RestaurantAddress" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Memoir.AppUserId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Memoir.Dish" class="control-label"></label>
                <input asp-for="Memoir.Dish" class="form-control" />
                <span asp-validation-for="Memoir.Dish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Memoir.Cocktail" class="control-label"></label>
                <input asp-for="Memoir.Cocktail" class="form-control" />
                <span asp-validation-for="Memoir.Cocktail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Memoir.Comments" class="control-label"></label>
                <input asp-for="Memoir.Comments" class="form-control" />
                <span asp-validation-for="Memoir.Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
